/* CSS Stylesheet */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: black;
}

body {
	width: 100vh;
	height: 100vh;
	background-color: black;
}

#fullpage {
	background-color: black;
	color: white;
}


/* Page Arrows */
a {
	color: white !important;
}

.arrow-down {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 38px;
}

.arrow-up {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 38px;
}


/* Music Page */
audio { width: 700px; }


/* Socials Page */
div>i { 
	padding: 0 30px;
	transition: transform .2s; /* Animation */ 
}

div>i:hover { transform: scale(1.2); }



/* Logo Animation */
#logo {
	animation: fillAnimation 2s ease forwards 2s;
}

#logo path:nth-child(1) {
	stroke-dasharray: 279px;
	stroke-dashoffset: 279px;
	animation: lineAnimation 2s ease forwards;	
}

#logo path:nth-child(2) {
	stroke-dasharray: 226px;
	stroke-dashoffset: 226px;
	animation: lineAnimation 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
	stroke-dasharray: 267px;
	stroke-dashoffset: 267px;
	animation: lineAnimation 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
	stroke-dasharray: 234px;
	stroke-dashoffset: 234px;
	animation: lineAnimation 2s ease forwards 0.9s;
}



#logo path:nth-child(5) {
	stroke-dasharray: 289px;
	stroke-dashoffset: 289px;
	animation: lineAnimation 2s ease forwards 0.5;	
}

#logo path:nth-child(6) {
	stroke-dasharray: 255px;
	stroke-dashoffset: 255px;
	animation: lineAnimation 2s ease forwards 0.8s;
}

#logo path:nth-child(7) {
	stroke-dasharray: 229px;
	stroke-dashoffset: 229px;
	animation: lineAnimation 2s ease forwards 1.2s;
}

#logo path:nth-child(8) {
	stroke-dasharray: 279px;
	stroke-dashoffset: 279px;
	animation: lineAnimation 2s ease forwards 1.5s;
}



#logo path:nth-child(9) {
	stroke-dasharray: 255px;
	stroke-dashoffset: 255px;
	animation: lineAnimation 2s ease forwards 0.8;	
}

#logo path:nth-child(10) {
	stroke-dasharray: 213px;
	stroke-dashoffset: 213px;
	animation: lineAnimation 2s ease forwards 1s;
}

#logo path:nth-child(11) {
	stroke-dasharray: 289px;
	stroke-dashoffset: 289px;
	animation: lineAnimation 2s ease forwards 1.3s;
}

#logo path:nth-child(12) {
	stroke-dasharray: 135px;
	stroke-dashoffset: 135px;
	animation: lineAnimation 2s ease forwards 1.6s;
}

#logo path:nth-child(13) {
	stroke-dasharray: 234px;
	stroke-dashoffset: 234px;
	animation: lineAnimation 2s ease forwards 1.9s;
}


@keyframes lineAnimation {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fillAnimation {
	from {
		fill: transparent;
	}
	to {
		fill: white;
	}
}

/* Form */
#submitButton {
	margin-left: 40px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 5px;
}

#submitButton:hover {
	background-color: #1E1E1E;
}

input, textarea {
	color: white !important;
}

/* label color */
.input-field label {
 color: #fff !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #fff !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #fff !important;
 box-shadow: 0 1px 0 0 #fff !important;;
}
.input-field input[type=email]:focus {
 border-bottom: 1px solid #fff !important;
 box-shadow: 0 1px 0 0 #fff !important;;
}
.input-field input[type=textareal]:focus {
 border-bottom: 1px solid #fff !important;
 box-shadow: 0 1px 0 0 #fff !important;;
}

/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #fff !important;;
 box-shadow: 0 1px 0 0 #fff !important;;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #fff !important;;
 box-shadow: 0 1px 0 0 #fff !important;;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #fff !important;;
}
