/* CSS Stylesheet */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: black;
}

body {
	width: 100vh;
	height: 100vh;
	background-color: black;
}

#fullpage {
	background-color: black;
	color: white;
	transform: translate3d(0, 0, 0) !important;
}


/* Page Arrows */
.arrow-down {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, 0);
	transition: transform .2s; /* Animation */ 
	font-size: 38px;
	line-height: 0.5 !important;
}

.arrow-up {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, 0);
	transition: transform .2s; /* Animation */ 
	font-size: 38px;
}

.arrow-up:hover, .arrow-down:hover {
	transform: scale(1.2) translate(-45%, 0);
}

a {
	color: white !important;
}

a:hover {
	text-decoration: none !important;
}


/* Title Page */
#home-name, #subTitle1, #subTitle2, #subTitle3, #subTitle4, #titleArrowDown {
	opacity: 0;
}

#home-subtitle, #home-name {
	font-size: 16px;
	letter-spacing: 3px;
	padding: 0 30px;
}

@media only screen and (max-width: 700px) {
	#home-subtitle {
		font-size: 12px;
	}
}

@media only screen and (max-width: 600px) {
	#home-subtitle {
		font-size: 10px;
		letter-spacing: 2px;
	}
}


/* About Page */
#bio-image {
	display: block;
}
	
#bio-block {
	padding: 0px 0px;
}

#bio-subtitle {
	letter-spacing: 3px;
	font-size: 16px;
	text-transform: uppercase;
}
	
#bio-text {
	text-align: left;
	font-size: 14px;
	line-height: 1.8;
	letter-spacing: 1.3px;
	font-weight: 200;
}

@media only screen and (max-width: 992px) {
	#bio-image {
		display: none;
	}
	
	#bio-block {
		padding: 0px 28px;
	}
	
	#bio-text {
		text-align: justify;
	}
}

@media only screen and (max-width: 663px) {
	#bio-subtitle {
		font-size: 13px;
	}
}

@media only screen and (max-width: 621px) {
	#bio-title {
		font-size: 20px;
	}
	
	#bio-text {
		font-size: 14px;
		line-height: 1.6;
	}
}

@media only screen and (max-width: 574px) {
	#bio-text {
		font-size: 13px;
		line-height: 1.5;
	}
}

@media only screen and (max-width: 467px) {
	#bio-subtitle {
		font-size: 12px;
	}
	
	#bio-text {
		font-size: 12px;
		line-height: 1.4;
	}
}

@media only screen and (max-width: 388px) {
	#bio-text {
		font-size: 11px;
		line-height: 1.2;
		padding-top: 0 !important;
	}
}

@media only screen and (max-width: 342px) {
	#bio-subtitle {
		font-size: 11px;
	}
	
	#bio-text {
		font-size: 10px;
		line-height: 1.2;
	}
}




/* Music Page */
audio { 
	width: 60vw; 
}

@media only screen and (max-width: 768px){
	audio {
		width: 75vw;
	}
}

h4 {
	letter-spacing: 1.8px;
}

.band-name {
	text-transform: uppercase;
	letter-spacing: 1.3px;
}

.band-cover {
	transition: transform .5s; /* Animation */ 
}

.band-cover:hover {
	transform: scale(1.05);
}

.band-hashtags {
	padding: 10px;
	letter-spacing: 1.1px;
	font-weight: 200;
}


/* Socials Page */
.social-icon {
	padding: 32px 30px;
	transition: transform .2s; /* Animation */ 
}

.social-icon:hover {
	transform: scale(1.2);
}



/* Logo Animation */
#logo {
	animation: fillAnimation 2s ease forwards 2s;
}

#logo path:nth-child(1) {
	stroke-dasharray: 279px;
	stroke-dashoffset: 279px;
	animation: lineAnimation 2s ease forwards;	
}

#logo path:nth-child(2) {
	stroke-dasharray: 226px;
	stroke-dashoffset: 226px;
	animation: lineAnimation 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
	stroke-dasharray: 267px;
	stroke-dashoffset: 267px;
	animation: lineAnimation 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
	stroke-dasharray: 234px;
	stroke-dashoffset: 234px;
	animation: lineAnimation 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
	stroke-dasharray: 289px;
	stroke-dashoffset: 289px;
	animation: lineAnimation 2s ease forwards 0.5;	
}

#logo path:nth-child(6) {
	stroke-dasharray: 255px;
	stroke-dashoffset: 255px;
	animation: lineAnimation 2s ease forwards 0.8s;
}

#logo path:nth-child(7) {
	stroke-dasharray: 229px;
	stroke-dashoffset: 229px;
	animation: lineAnimation 2s ease forwards 1.2s;
}

#logo path:nth-child(8) {
	stroke-dasharray: 279px;
	stroke-dashoffset: 279px;
	animation: lineAnimation 2s ease forwards 1.5s;
}

#logo path:nth-child(9) {
	stroke-dasharray: 255px;
	stroke-dashoffset: 255px;
	animation: lineAnimation 2s ease forwards 0.8;	
}

#logo path:nth-child(10) {
	stroke-dasharray: 213px;
	stroke-dashoffset: 213px;
	animation: lineAnimation 2s ease forwards 1s;
}

#logo path:nth-child(11) {
	stroke-dasharray: 289px;
	stroke-dashoffset: 289px;
	animation: lineAnimation 2s ease forwards 1.3s;
}

#logo path:nth-child(12) {
	stroke-dasharray: 135px;
	stroke-dashoffset: 135px;
	animation: lineAnimation 2s ease forwards 1.6s;
}

#logo path:nth-child(13) {
	stroke-dasharray: 234px;
	stroke-dashoffset: 234px;
	animation: lineAnimation 2s ease forwards 1.9s;
}


@keyframes lineAnimation {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fillAnimation {
	from {
		fill: transparent;
	}
	to {
		fill: white;
	}
}